.search-form__search-input {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  width: 100%;
  border: 1px solid $color-lighter-gray;
  background-color: $color-even-lighter-gray;
  border-radius: 50px;

  &:hover {
    background-color: $color-white;
  }
}

@media (max-width: 720px) {
  .search-form__search-input {
    font-size: 1rem;

    padding: 0.5rem 1rem;
  }
}

@media (max-width: 500px) {
  .search-form__search-input {
    font-size: 0.7rem;

    padding: 0.5rem 1rem;
  }
}
